{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% translate 'Group list' %}
{% endblock %}

{% block body %}
  <h1>{% translate 'Groups' %}:</h1>
  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% translate 'Create' %}</button>
    </form>
  </div>
  <br>
  <div>
    {% if not groups %}
      <h3>{% translate 'No groups yet' %}</h3>
    {% else %}
      <ul>

        {% for group in groups %}
          <li>
            <div>{{ group.name }}</div>
            <ul>
              {% for permission in group.permissions.all %}
                <li>
                  {{ permission.name }}
                  (<code>{{ permission.codename }}</code>)
                </li>
              {% endfor %}

            </ul>
          </li>
        {% endfor %}

      </ul>
    {% endif %}
  </div>
{% endblock %}