{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
  {% translate 'Confirm delete' %} {{ object.name }}
{% endblock %}

{% block body %}
  <h1>{% translate 'Are you sure you want to delete' %} {{ object.name }}?</h1>
  <br>
  <div>
    <a class="link-shopapp" href="{% url 'shopapp:order_details' pk=object.pk %}"
    >{% translate 'Back to order' %}</a>
  </div>
  <br>
  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% translate 'Delete' %}</button>
    </form>
  </div>
{% endblock %}