{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
  <h1>{% trans 'Product' %} <strong>{{ product.name }}</strong></h1>
  <div>
    {% blocktranslate with description=product.description price=product.price discount=product.discount archived=product.archived created_by=product.created_by %}
      <div>Description: <em>{{ description }}</em></div>
      <div>Price: <em>{{ price }}</em></div>
      <div>Discount: <em>{{ discount }}</em></div>
      <div>Archived: <em>{{ archived }}</em></div>
      <div>Created by: <em>{{ created_by }}</em></div>
    {% endblocktranslate %}

    {% if product.preview %}
      <img style="width: 200px" src="{{ product.preview.url }}"
           alt="{{ product.preview.name }}">
    {% endif %}

    <h3>{% trans 'Images' %}:</h3>
    <div>
      {% blocktranslate count image_count=product.images.all|length %}
        There is only one image.
        {% plural %}
        There are {{ image_count }} images.
      {% endblocktranslate %}
    </div>
    <br>
    <div>
      {% for img in product.images.all %}
        <div>
          <img style="width: 200px" src="{{ img.image.url }}" alt="{{ img.image.name }}">
          <div>{{ img.description }}</div>
        </div>
      {% empty %}
        <div>{% trans 'No images uploaded yet' %}</div>
      {% endfor %}

    </div>
  </div>
  <br>
  <div>
    <ul>
      {% if user.is_superuser or user == product.created_by and perms.shopapp.change_product %}
        <li>
          <a class="link-shopapp" href="{% url 'shopapp:product_update' pk=product.pk %}">
            {% trans 'Update product' %}</a>
        </li>

        <li>
          <a class="link-shopapp" href="{% url 'shopapp:product_delete' pk=product.pk %}">
            {% trans 'Archive product' %}</a>
        </li>
      {% endif %}

      <li>
        <a class="link-shopapp" href="{% url 'shopapp:product_list' %}">
          {% trans 'Back to product list' %}</a>
      </li>
    </ul>
  </div>
{% endblock %}