{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
	{% translate 'Update product' %}
{% endblock %}

{% block body %}
  <h1>{% translate 'Update product' %}</h1>
  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button type="submit">{% translate 'Update' %}</button>
    </form>
  </div>
  <br>
  <div>
    <a class="link-shopapp" href='{% url "shopapp:product_details" pk=object.pk %}'
    >{% translate 'Back to product' %} #{{ object.pk }}</a>
  </div>
{% endblock %}