* {
    font-family: 'Roboto', sans-serif; /* Подключаем шрифт Roboto с сервиса Google Fonts */
}

html, body {
    margin: 20px; /* Граница внешних отступов */
    padding: 5px; /* Граница внутренних отступов */
    background-color: #f6f7f9; /* Установка фона элемента */
}

.login-logout {
    display: flex; /* Использование модели макета Flexbox */
    justify-content: space-between;
    /*max-width: 1000px; !* Ширина, устанавливаем в зависимости от ширины браузера *!*/
    height: 100%; /* Высота элемента */
    margin-left: auto; /* Внешний отступ слева */
    margin-right: auto; /* Внешний отступ справа */
    /*background-color: lightblue;*/
}

.content-block {
    width: 300px;
}

.head-links > a {
    margin-right: 10px;
}

.link-shopapp {
    color: darkgreen;
    text-decoration: none; /* Убрать подчеркивание текста ссылки */
}

.link-shopapp:hover {
    color: blue;
    text-decoration: underline; /* Текст ссылки при наведении мыши будет подчеркивать */
}

.link-myauth {
    color: cornflowerblue;
    text-decoration: none; /* Убрать подчеркивание текста ссылки */
}

.link-myauth:hover {
    color: mediumspringgreen;
    text-decoration: underline; /* Текст ссылки при наведении мыши будет подчеркивать */
}

button {
    padding: 10px 30px; /* Внутренний отступ расположения текста */
    cursor: pointer; /* При наведении мышка становится лапкой */
    border-radius: 5px; /* Граница с округлением  */
    background-color: #3f2af7;
    border: 1px solid #3f2af7;
    color: white;
}

.price-list {
    border: 1px solid gray; /* Создаем границу таблицы */
    border-collapse: collapse; /* Объединяем все соседние границы */
}

.price-list td, .price-list th {
    border: 1px solid gray;
    padding: 5px; /* между границе таблицы и текстом было расстояние */
}

.price-list thead {
    background-color: lightgray; /* Установка цвета фона */
}

h1 {
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}

.popup-container {
    background-color: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;

}

.light-button {
    border: 1px solid black; /* Параметр границы толщина, тип (сплошной) и цвет */
    background-color: transparent;
}
